<!DOCTYPE html>
<html>

    <head>
        <title>404 page not found </title>
        <meta charset="utf-8">
        <meta name="description" content="The requested page does not exists.">
        {{ style | safe }}
    </head>

    <body>
        <h1 class="error_404" id="404 page not found">404</h1>
        <p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>
        <p><a href="/">Back to homepage.</a></p>
    </body>
</html>



