<!DOCTYPE html>
<html>

    <head>
        <title>{{ server_name }} Git server</title>
        <meta charset="utf-8">
        <meta name="description" content="A personal Git server.">
        {{ style | safe }}
    </head>

    <body>
        <h1 id="{{ server_name }} Git server">{{ server_name }} Git server</h1>
        <p>This is a web front-end for a <a href="https://github.com/charmbracelet/soft-serve"> Soft Serve</a> Git server.</p>
        <p>If you want to access this server in the best possible conditions, you should use the command <code>{{ ssh_command }}</code></p>

        <h2 id="list of repositories">List of repositories</h2>
        <p>Here is a list of all the repositories in this server:</p>
        <ul>
        {% for repo in repo_list %}
        <li><a href="{{ repo }}">{{ repo }}</a></code></li>
        {% endfor %}
        </ul>

        <h2 id="Pushing new repository">Pushing new repository</h2>
        <p>If you have the right to do so, pushing a new repository on this server is easy to do. Firstly, add this server as a new remote for your repository:</p>
        <code>git remote add soft {{ push_target }}</code>
        <p>Then you can simply push your branch with:</p>
        <code>git push soft &lt;branch name&gt;</code>
        <p>If you don't want to use <code>soft</code> as the name of the remote, you can use any other name.</p>

    </body>
</html>

