<!DOCTYPE html>
<html>

    <head>
        <title>{{ server_name }} Git server</title>
        <meta charset="utf-8">
        <meta name="description" content="A personal Git server.">
    </head>

    <body>
        <h1 id="{{ server_name }} Git server">{{ server_name }} Git server</h1>
        <p>This is a web front-end for a <a href="https://github.com/charmbracelet/soft-serve"> Soft Serve</a> Git server.</p>
        <p>If you want to access this server in the best possible conditions, you should use the command <code>{{ ssh_command }}</code></p>
        <p>Here is a list of all the repositories in this server and the commands to clone them:</p>
        <ul>
        {% for repo in repo_list %}
        <li><a href="{{ repo }}">{{ repo }}</a></code></li>
        {% endfor %}
        </ul>
    </body>
</html>

