<!DOCTYPE html>
<html>

    <head>
        <title>404 repository not found</title>
        <meta charset="utf-8">
        <meta name="description" content="The repo {{ repo_name }} does not exists on the {{ server_name }} Git server.">
        {{ style | safe }}
    </head>

    <body>
        <h1 class="error_404" id="404 repo not found">404</h1>
        <p><strong>The repository "{{ repo_name }}" does not exists on the {{ server_name }} Git server.</strong> </p>
        <p><a href="/">Back to homepage.</a></p>
    </body>
</html>

